[submodule "aibox-mac"]
	path = aibox-mac
	url = https://github.com/minicoursedev/aibox-mac.git
[submodule "aibox-firmware"]
	path = aibox-firmware
	url = https://github.com/minicoursedev/aibox-firmware.git
[submodule "aibox-remote"]
	path = aibox-remote
	url = https://github.com/minicoursedev/aibox-remote.git
[submodule "aibox-spec"]
	path = aibox-spec
	url = https://github.com/minicoursedev/aibox-spec.git
